

<div class="col-md-6">
    <h2>Available Recipes</h2>
    <div class="col-md-6">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let recipe of recipes; let i = index"
            [class.active]="i == currentIndex"
          >
                <div>
                  <label><strong>Name:</strong></label> {{ recipe.name }}
                </div>
                <div>
                  <label><strong>Description:</strong></label>
                  {{ recipe.description }}
                </div>
                <div>
                  <label><strong>Dietary:</strong></label>
                  {{ recipe.dietary }}
                </div>
          
                <a class="badge badge-warning" routerLink="{{'/recipes/'+recipe._id}}">
                  Edit
                </a>
              
          </li>
        </ul>
    </div>
</div>